* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
     background-color: #EBEFF2;
  }
.menu{
 width: 100%;
 height: 10vh;
 display: flex;
 justify-content: center;
 align-items: center;
 
  }
.menu nav{
    width: 90vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#042C4C;
    border-radius: 20px;
    padding: 1vw;
}  

.menu nav span{
    font-size: 30px;
    color: aliceblue;
}
.buttons{
    display: flex;
    gap : 3vw ; 
}

.cercle{
    width: 3vw;  
    height: 4vh;
    background-color: white;  
    border-radius: 50%; 
    display: flex; 
    justify-content: center;  
    align-items: center;
    padding: 1vw;
}

.cercle i,
.searchBar i{
    font-size: 25px;
    
}

.logout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7vw;
    height: auto;
    border-radius: 10px;
  

}

.logout button{
    width: 6vw;
    height: auto;
    font-size: 20px;
    color: aliceblue;  
     background-color: red;
}

.searchDiv{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.searchBar{
    border: 2px solid black;
    width: 40vw;
    height: auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.searchBar input{
    border: none ;
    height: 5vh;
    width: 37vw;
    padding: 1vw;
    padding: 10px;
    border-radius: 20px;
    outline: none;
}

.categories{
    width: 25vw;
    height: 70vh;
    background-color: #DFE6EB;
    border : 2px solid black;
    display: flex;
    justify-content: center;
    padding: 1vw;
}

.CategoriesTitle{
    width: 15vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #091D31;
    color: white;
    font-size: 25px;
    border-radius: 20px;

}