
.container {
    background-color: #0a1f44;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    color: white;
    width: 300px;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.tabs button {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.activeLine {
    border-bottom: 2px solid white;
    font-weight: bold;
    
}


.form {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.form.active {
    display: block;
    opacity: 1;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f5f5dc;
    font-size: 16px;
}

.form-group input[type="submit"] {
    background-color: #a9a9a9;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
}

.form-group input[type="submit"]:hover {
    background-color: #686060;
}